body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #449;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  #content {
    padding: 2rem;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  form div {
    margin-bottom: 1rem;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  form input, form select {
    width: 100%;
    padding: 0.5rem;
  }
  